// index.jade
// Copyright 2012 Compucius

extends layout

block content
  div.container
    div.row
      div.span12
        div.hero-unit
          h1 Join the network
          p Contribute cycles simply by pressing play:
          button#play-button.btn.btn-primary.btn-large Play
