// index.jade
// Copyright 2012 Compucius

extends layout

block content
  div.container
    div.row
      div.span12
        div.hero-unit
          h1 Compucius say do more
          p Javascript mapreduce
          button#play-button.btn.btn-large.btn-primary Launch Worker
