// index.jade
// Copyright 2012 Compucius

extends layout

block content
  if user
    p
      h2 Welcome #{user.name}!
      ul
        li user/fb id: #{user.id}
        li user: #{JSON.stringify(user)}
