// index.jade
// Copyright 2012 Compucius

extends layout

block scripts

block content
  div.container
    div.row
      div.span3
        img(src="http://i.imgur.com/LLdEG.png")
      div.span9
        div.hero-unit
          h2 Compucius say...
          h1=saying
          p Use your friend's spare cycles to <strong>do your bidding</strong> in JavaScript.
          if user
            button.play-button.btn.btn-large Create Jobs
            | 
            button.play-button.btn.btn-large.btn-primary Launch Worker
          else
            a.btn.btn-large.btn-primary(href="/auth/facebook") Login with Facebook
