// developer.jade
// Copyright 2012 Compucius

extends layout

block scripts
  script(src='/socket.io/socket.io.js')
  != js('jquery.knob')
  != js('developer')

block content
  div.container
    div.row
      div.span12
        div.page-header
          div.pull-right
            a.btn.btn-primary(href="/jobs/new") Add new job
          h1 Your current jobs
    div.row
      div#knobs.span12
        - jobs.forEach(function(job) {
          div.job.pull-left(id=job._id, class=job.state)
            h3=job.name
            h4.state=job.state
            - if (job.state == 'done') {
                input.knob(type='text', data-readonly='true', data-thickness='.15', value="100", data-max="100", data-fgColor="chartreuse")
            - } else {
                input.knob(type='text', data-readonly='true', data-thickness='.15')
            - }
        - })
  div#results.modal.fade.hide
    div.modal-header
      h3
    div.modal-body
      pre
