// developer.jade
// Copyright 2012 Compucius

extends layout

block scripts
  != js('jquery.knob')
  != js('developer')

block content
  div.container
    div.row
      div.span12
        div.page-header
          div.pull-right
            a.btn.btn-primary(href="/jobs/new") Add new job
          h1 Your current jobs
    div.row
      div#knobs.span12
        - jobs.forEach(function(job) {
          div.job(id=job._id)
            input.knob(type='text', data-readonly='true', data-thickness='.15')
        - })
