// developer.jade
// Copyright 2012 Compucius

extends layout

block scripts
  != js('jquery.knob')
  != js('developer')

block content
  div.container
    div.row
      div.span12
        div.page-header
          div.pull-right
            a.btn.btn-primary(href="/jobs/new") Add new job
          h1 Your current jobs
    div.row
      div.span12
        div#knobs
