// layout.jade
// Base layout for everything!
// Copyright 2012 Compucius

- var page = String(title)

doctype 5
html
  head
    title= 'Compucius - ' + title
    != css('bootstrap.min')
    != css('bootstrap-responsive.min')
    != css('style')
    != js('jquery-1.7.2.min')
    != js('bootstrap.min')
    != js('script')
    link(rel="shortcut icon", href="/img/favicon.ico")

    block scripts
  body(id=page)
    // Navbar
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          button.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/") Compucius
          div.nav-collapse.collapse
            ul.nav.pull-left
              li
                a(href="/jobs") Your Jobs
              if user
                li
                  a.play-button(href="#") Launch Worker
            ul.nav.pull-right
              if everyauth.loggedIn 
                li
                  a(href="#") Hello, #{user.name}!
                li
                  a(href="/logout") Logout
              else
                li
                  a(href="/auth/facebook") Login

    // Content
    block content

    div.container
      div.row
        div.span12
          footer#footer
            p © 2012 
              a(href="http://www.advait.info/", target="_blank") Advait Shinde
              | , 
              a(href="http://www.linkedin.com/in/markvismonte", target="_blank") Mark Vismonte
              | , 
              a(href="http://www.linkedin.com/in/prestonchan", target="_blank") Preston Chan
              | , 
              a(href="http://www.stevenla.com", target="_blank") Steven La
            p Check out our other project, 
              a(href="http://www.courserail.com", target="_blank") CourseRail
