// layout.jade
// Base layout for everything!
// Copyright 2012 Compucius
doctype 5
html
  head
    title= 'Compucius - ' + context.title
    != css('bootstrap.min')
    != css('bootstrap-responsive.min')
    != css('style')
    != js('http://local.host:8000/socket.io/socket.io')
    != js('jquery-1.7.2.min')
    != js('bootstrap.min')
    block scripts
  body
    // Navbar
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          button.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/") Compucius
          div.nav-collapse.collapse
            ul.nav.pull-left
              li
                a(href="/") Dashboard
              li
                a(href="/client") Client
              li
                a(href="/jobs") Developer
            ul.nav.pull-right
              if everyauth.loggedIn 
                li
                  a(href="/account") Hello, #{everyauth.facebook.user.name}!
                li
                  a(href="/logout") Logout
              else
                li
                  a(href="/auth/facebook") Login


    // Content
    div.container
      block content