html {
  min-height: 100%;
}
body {
  padding-top: 50px;
  width: 100%;
  min-height: 100%;
}
a {
  color: #00B7FF;
}
textarea.input-xxlarge {
  height: 240px;
  font: 11px 'Courier New', monospace;
}
#worker {
  padding: 60px 0 0;
  margin: 0;
  text-align: center;
}
.job {
  text-align: center;
  width: 200px;
  h4 {
    padding-bottom: 10px;
    color: #888;
  }
}